.render-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}


.render-multimedia {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.render-multimedia button {
    border: none;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: var(--br-small);
    color: white;
}

.render-multimedia button:active {
    transform: scale(1.05);
}

.render-multimedia button:nth-child(1) {
    background-color: rgb(21, 101, 148);
}

.render-multimedia button:nth-child(2) {
    background-color: var(--color-blue);
}