.card-container {
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.75em;
  cursor: pointer;
}

.card-container:hover .card-img img {
  transform: scale(1.05);
}

.card-container h2 {
  color: var(--color-text);
  font-size: 1.1rem;
  margin-top: 0.5em;
}

.card-img {
  background-color: var(--color-gray);
  width: 100%;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
}


.card-img img {
  transition: transform .2s;
  width: 130px;
}