.header {
    background-color: var(--color-header);
    height: var(--header-height);
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: var(--color-text);
}

.logo-text {
    font-size: 1.5rem;
}