.btn-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-small);
    font-size: 1.5rem;
    color: var(--color-text);
    background-color: var(--color-gray);
    transition: transform .2s;
    will-change: transform;
}

.btn-theme:hover {
    transform: scale(1.08);
}