.share-section {
    background-color: var(--color-modal);
    color: var(--color-text);
    margin-top: 4rem;
    padding: 3rem 0;
}

.share-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.share-container {
    border: 3px solid var(--color-blue);
    border-radius: var(--br-small);

}

.share-container span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .5px;
    padding: 1rem;
    cursor: pointer;
    opacity: .7;
}

.share-container span:hover {
    opacity: 1;
}


.share-container svg {
    color: transparent;
    transition: color .2s;
}

.share-container span:hover svg {
    color: inherit;
}