.search-container {
    display: flex;
    align-items: center;

}

.search-form {
    display: flex;
    width: 100%;
    margin: 2rem 0;
}

.search-input {
    border: none;
    outline: none;
    border-top-left-radius: var(--br-small);
    border-bottom-left-radius: var(--br-small);
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    font-size: 1.25rem;
    flex: 4;
}

.search-btn {
    flex: 1;
    border-top-right-radius: var(--br-small);
    border-bottom-right-radius: var(--br-small);
    font-size: 1rem;
}

.clear-btn {
    background-color: white;
    padding: .5rem;
    font-size: 1rem;
}