.search-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
}

.search-input {
    border: none;
    outline: none;
    height: 3rem;
    flex: 4;
    border-top-left-radius: var(--br-small);
    border-bottom-left-radius: var(--br-small);
    font-size: 1.25rem;
    padding: 1rem;
}

.search-btn {
    border: none;
    flex: 1;
    border-top-right-radius: var(--br-small);
    border-bottom-right-radius: var(--br-small);
    cursor: pointer;
}