:root {
    --header-height: 70px;
    --width-container: 62%;

    --br-small: 0.5rem;

    --color-header: #101010;
    --color-bg: #11171b;
    --color-bg-sec: #3c4059;

    --color-text: rgb(236, 244, 250);
    --color-blue: rgb(59, 61, 110);
    --color-gray: #25323a;
    --color-modal: #0d131e;
}

.light {
    --color-header: #a8a6a6;
    --color-bg: #d8dadb;
    --color-bg-sec: #d3d4da;

    --color-text: rgb(39, 39, 39);
    --color-blue: rgb(119, 133, 170);
    --color-gray: #c8c9c9;
    --color-modal: #a4a4a5;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bg);
    background-image: linear-gradient(135deg, var(--color-bg), var(--color-bg-sec));
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

button {
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
}

.container {
    width: var(--width-container);
    margin: auto;

}


@keyframes appear {
    to {
        opacity: 1;
    }
}

@media (max-width:480px) {
    :root {
        --width-container: 90%;
    }
}

@media (min-width:1500px) {
    :root {
        --width-container: 54%;
    }
}